@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0
}

a {
  text-decoration: none;
}

h1 {
  font-weight: normal;
  margin: 0;
}

.navText {
  height: auto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}
