.topNav {
  height: 100px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.topNavText {
  width: 100px;
  padding-left: 10px;
}

.navLogo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navItem:last-child {
  padding: 15px 0px;
  border: 1px solid #fff;
  width: 150px;
  border-radius: 75px;
  text-align: center;
  transition: all .5s ease-out;
}

.navItem:last-child:hover {
  background-color: #c6a364;
}

.navItem:not(:last-child) {
  padding-right: 8px;
}

@media (max-width: 500px) {
.navItem:last-child {
  width: 100px;
  border-radius: 75px;
}

.topNav {
  padding: 0 20px;
}

.topNavText {
  display: none;
}

.navLogo {
  width: 65px;
  height: 65px;
}
}
