.heroImage {
  background: linear-gradient(to bottom, transparent 0%, black 100%), url(../../images/heroImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.heroTextWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.heroBannerText {
  font-size: 75px;
}

.heroInfo {
  width: 500px;
  font-size: 20px;
  margin-top: 10px;
}

.heroButton {
  margin: 20px 0 0;
  color: #ffffff;
  background-color: #c6a364;
  width: 150px;
  border-radius: 75px;
  padding: 15px 0;
}

.bottomHeroWrapper {
  width: 100%;
  color: #fff;
  height: 150px;
  background: black;
}

.bottomHeroTextBlocks {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 75%;
  margin: auto;
  padding-top: 40px;
}

@media (max-width: 1000px) {
  .bottomHeroTextBlocks {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .bottomHeroTextBlocks {
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }

  .bottomHeroWrapper {
    height: auto;
  }

  .bottomTextWrapper {
    margin-bottom: 15px;
  }
}

.bottomTextHeading {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.bottomTextDescription {
  font-size: 14px;
}

.bottomTextWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

@media (max-width: 660px) {
  .heroImage {
    background-position-y: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  }

 .heroButton {
   margin: 20px 0;
 }

 .heroBannerText {
   font-size: 40px;
 }

  .heroInfo {
    width: 75%;
    font-size: 16px;
    margin-top: 10px;
  }

  .heroTextWrapper {
    padding: 20px 0;
  }
}

