.heroImage {
  background-size: cover;
}

.heroTextWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px);
  color: #fff;
  margin: auto;
  text-align: center;
}

.heroBannerText {
  font-size: 75px;
}

.heroInfo {
  width: 500px;
  font-size: 20px;
  margin-top: 10px;
}

.heroButton {
  margin: 20px 0 100px;
  color: #ffffff;
  background-color: #c6a364;
  width: 150px;
  border-radius: 75px;
  padding: 15px 0;
}

.bottomHeroWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  height: 150px;
  background: black;
}

.bottomHeroTextBlocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 75%;
  margin: auto;
}

@media (max-width: 1200px) {
  .bottomHeroTextBlocks {
    width: 75%;
  }
}

.bottomTextHeading {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.bottomTextDescription {
  font-size: 14px;
}

.bottomTextWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}
