.wrapper {
  background-image: linear-gradient(to bottom, #ffffff, #f9f9f9);
  width: 85%;
  margin: 100px auto 0;
}

.personWrapper {
  display: flex;
  color: #1f313d;
}

.personHalf {
  width: 50%;
}

.name {
  font-size: 42px;
  padding-bottom: 10px;
}

.employment {
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 30px;
}

.description {
  width: 80%;
  line-height: 1.56;
  opacity: 0.8;
}

.largeImage {
  display: block;
}

.thumbnail {
  margin-right: 20px;
}

.thumbnailsWrapper {
  margin-top: 20px;
}

.donateBtn {
  width: 150px;
  padding: 15px;
  border-radius: 75px;
  color: #ffffff;
  background-color: #193f58;
  display: block;
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 760px) {
  .personWrapper {
    display: flex;
    flex-direction: column;
  }

  .personHalf {
    width: 80%;
    margin-bottom: 15px;
  }

  .wrapper {
    margin-top: 50px;
  }
}
